ion-content {
  --background: #ffd1dc; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

ion-header {
  ion-toolbar {
    --background: #ffd1dc; 
    --color: #ffffff; 
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #b5e4c9; 
  }
}

ion-avatar {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border: 2px solid #b5e4c9; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff6e5; 

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

form {
  width: 100%;
  max-width: 350px; 
  border: 2px solid #b5e4c9; 
  border-radius: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); 

  ion-item {
    --background: #ffffff; 
    --color: #6c757d; 
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #b5e4c9; 
    width: 100%; 

    ion-input {
      width: 90%; 
      padding: 10px;
      font-size: 16px;

      &[type='email'],
      &[type='password'] {
        --placeholder-color: #9faab7; 
      }
    }
  }

  div {
    margin-bottom: 10px;

    ion-label {
      font-size: 14px;
      color: #f9bb82; 
      margin-left: 10px;
    }
  }

  ion-button {
    width: 100%;
    height: 50px;
    --background: #b5e4c9; 
    --color: #ffffff; 
    border: 2px solid #ffd1dc; 
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;

    &:hover {
      --background: #f9bb82; 
    }

    &:disabled {
      --background: #f6f6f6; 
      border: 2px solid #b5e4c9; 
    }
  }
}

  