ion-split-pane {
  --ion-background-color: #f9f9f9; 
}

ion-menu {
  --ion-background-color: #fffaf0; 
  --ion-text-color: #555555; 
}

ion-header {
  background-color: #ffd8c2; 
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-title {
  color: #4d4d4d; 
  font-size: 1.2rem;
  font-weight: bold;
}

ion-buttons ion-button {
  --color: #4d4d4d; 
}

ion-buttons ion-button ion-icon {
  color: #0e0c09; 
  font-size: 1.2rem;
}

ion-list {
  background-color: transparent;
  padding-top: 20px;
}

ion-item {
  --background: transparent;
  --padding-start: 20px;
  --padding-end: 20px;
  --inner-padding-end: 0;
  --inner-border-width: 0;
  --border-color: transparent;
  --color: #555555; 
  --ion-item-background: transparent;
  margin-bottom: 10px;
}

ion-item:hover {
  --background: #fff7eb; 
}

ion-icon {
  color: #140b0b; 
  font-size: 1.2rem;
  margin-right: 10px;
}

ion-label {
  font-size: 1rem;
  font-weight: 500;
}

ion-item:last-child {
  margin-top: 20px;
  border-top: 1px solid #f0e4d7; 
  padding-top: 10px;
}

ion-router-outlet {
  --ion-background-color: #f9f9f9; 
}
