<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <swiper-container>
    <swiper-slide>
      <img src="/assets/images/img1.jpg">
      <ion-icon name="cafe-outline"></ion-icon>
      <p>Hola soy el slide uno de la libreria swiper</p>
    </swiper-slide>

    <swiper-slide> 
      <h1 >Hola slide 2</h1>
      <ion-icon name="battery-full-outline"></ion-icon>
      <p>Hola soy el slide dos de la libreria swiper</p>
    </swiper-slide>
    <swiper-slide>
      <h1 >Hola slide 3</h1>
      <ion-icon name="calendar-number-outline"></ion-icon>
      <p>Hola soy el slide tres de la libreria swiper</p>
    </swiper-slide>
    <swiper-slide>
      <h1 >Hola slide 4</h1>
      <ion-icon name="calendar-number-outline"></ion-icon>
      <p>Hola soy el slide cuatro de la libreria swiper</p>
    </swiper-slide>
  </swiper-container>
</ion-content>

